<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.dao.Productdao">
    <delete id="delete">
        delete from product where product_id=#{product_id}
    </delete>
    <select id="findall" resultMap="map">
        select product_id,product_name,product_sum,product_price,status_name from product inner join status on product.status_id=status.status_id
    </select>
<resultMap id="map" type="com.yl.po.Product">
    <result property="product_id" column="product_id"></result>
    <result property="product_name" column="product_name"></result>
    <result property="product_price" column="product_price"></result>
    <result property="product_sum" column="product_sum"></result>
    <association property="status_id" javaType="com.yl.po.Status">
        <id property="status_id" column="status_id"></id>
        <result property="status_name" column="status_name"></result>
    </association>
</resultMap>
    <insert id="insert">
        insert into product values(#{product_id},#{product_name},#{product_sum},#{product_price},#{status_id.status_id})
    </insert>
    <select id="findbyid" resultMap="map">
        select product_id,product_name,product_sum,product_price,`status`.status_id,status_name from product inner join status on product.status_id=status.status_id where product.product_id=#{id}
    </select>
    <update id="update">
        update product set product_name=#{product_name},product_sum=#{product_sum},product_price=#{product_price},status_id=#{status_id.status_id} where product_id=#{product_id}
    </update>
</mapper>
